.media-item {
  display: flex;
  width: 100px;
  height: 100px;
  background:red;
}

.media-item--available {
  background: green;
}

.media-item__is-available,
.media-item__media-name {
  padding: 5px;
}
